body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/gedung1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

.login-form {
  position: fixed;
  top: 50%;
  left: 620px;
  transform: translate(-40%, -50%);
  background: rgba(255, 255, 255, 0.85);
  padding: 40px;
  width: 600px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.login-form.box-register::-webkit-scrollbar-track {
  background: transparent;
}

.form-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 80%;
  height: 80px;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-top: 20px;
  width: 85%;
  text-align: center;
  font-size: 14px;
}

.box-input-data {
  width: 90%;
  display: flex;
  margin: 15px;
  border-bottom: 2px solid rgba(15, 15, 15, 0.5);
  padding: 10px;
}

.box-input-pass {
  width: 90%;
  position: relative;
  display: flex;
  margin: 10px;
  border-bottom: 2px solid rgba(15, 15, 15, 0.5);
  padding: 10px;
}

.box-input-data,
.box-input-pass {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-input-data i .box-input-pass i {
  font-size: 15px;
  padding: 5px;
}

.box-input-data input {
  width: 85%;
  padding: 5px;
  background: none;
  border: none;
  outline: none;
  font-size: 15px;
}

.box-input-pass input {
  width: 85%;
  padding: 5px;
  background: none;
  border: none;
  outline: none;
  font-size: 15px;
}

#toggle-password {
  position: absolute;
  font-size: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.btn-input {
  background: none;
  margin: auto;
  width: 92%;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.2s;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #0d6efd;
}

.btn-input:hover {
  background-color: #0056b3;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.register-link a {
  color: #0056b3;
  text-decoration: none;
  font-weight: 500;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.register-link a:hover {
  text-decoration: underline;
}
